/* #root {
  margin: 0 auto;
} */

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: blueviolet;
}

.sidebar {
  position: fixed;
  background-color: rgb(94, 31, 152);
  width: 10%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: blueviolet;
  width: 100%;
  padding: 5px 20px;
  text-align: center;
}
