#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #242424;
  height: 5%;
  border-bottom: solid 1px #404040;
}

#logo {
  width: 40px;
}

header > h1 {
  color: #00d8ff;
}

.sidebar {
  position: fixed;
  background-color: #242424;
  width: 200px;
  height: 100%;
  border-right: solid 1px #404040;
  z-index: 1;
}

#sidebar-user-container {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #404040;
  height: 70px;
}

.user-img {
  height: 40px;
  margin: 0 10px;
}

.sidebar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 13px 0px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
}

.sidebar li:hover {
  background-color: #404040;
}

main {
  position: fixed;
  height: 100%;
  width: 100%;
  margin-left: 200px;
  background: rgb(2, 0, 29);
  background: linear-gradient(
    164deg,
    rgb(41, 0, 111) 0%,
    rgb(32, 0, 88) 5%,
    rgb(99, 13, 142) 79%,
    rgb(93, 7, 98) 100%
  );
}

.board-header {
  height: 30px; /* plus 2 x 20px padding = 70px */
  padding: 20px;
  background-color: #0000003d;
}

#list-section {
  display: flex;
  padding: 15px;
  height: 100%;
}

footer {
  position: fixed;
  height: 5%;
  bottom: 0;
  background-color: #242424;
  border-top: solid 1px #404040;
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  z-index: 2;
}

#list {
  background-color: #101204;
  height: 600px;
  max-height: 70%;
  width: 284px;
  padding: 10px 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}

#list-title {
  padding: 5px 5px 10px;
  margin-bottom: 5px;
  height: 20px;
  display: flex;
}

.title-input {
  background-color: #101204;
  color: #b2b2b2;
  width: 100%;
  padding: 13px 5px;
  border: 1px solid #101204;
}

.title-input:focus {
  outline: none;
  border: 1px solid #00d8ff;
  border-radius: 5px;
}

#list-items {
  height: calc(100% - 40px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #323b38 #101204;
  padding-right: 1px;
  display: flex;
  flex-direction: column;
}

#card {
  background-color: #22272b;
  border: 2px solid #22272b;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 12px;
  font-size: 0.9rem;
  cursor: pointer;
}

#card:hover {
  border: 2px solid #00d8ff;
}

#card-row-one {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background-color: #22272b;
  color: black;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.delete-btn:hover {
  color: #b2b2b2;
}

.delete-btn:active {
  color: #404040;
}

#priority-label {
  width: 40px;
  height: 8px;
  text-align: center;
  border-radius: 5px;
}

#popup {
  /* display: none; */
  position: fixed;
  z-index: 98;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #101204; */
}

#inside-popup {
  display: block;
  overflow: hidden;
  width: 30%;
  height: 50%;
  background-color: #242424;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 30px;
  border-radius: 10px;
}
