html,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: #b2b2b2;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: #b2b2b2;
  text-decoration: none;
}

a:hover {
  color: #00d8ff;
}

.b {
  font-weight: bold;
}
